@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Cascadia Code", monospace;
  background: linear-gradient(
    109.6deg,
    rgb(245, 239, 249) 30.1%,
    rgb(207, 211, 236) 100.2%
  );
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
  /* color: #f7fafc; */
}
